body {
    margin: 0px;  
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    color:#235952
}

hr {
    border: dotted #D3D3D3 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

h1 {
    /* color: #235952; */
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: montserrat, open-sans, sans-serif;
    font-weight: lighter;
}

h2 {
    color: #235952;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #ca9b92;
    font-size: 1.8rem;
    font-weight: normal;
}

p{
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 2;
}

.self-image{
    border-radius: 1rem;
    max-width: 200px;
}

a {
    color: #a68079;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.top-container{
    background-color: #fbeaea;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

.intro {
    width: 30%;
    margin: auto;
}

.copyright {
    color: #ffffff;
    font-size: 1rem;
    margin: 20px 0;
}


.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.computer-img {
    width: 8rem;
    float: left;
    margin-right: 30px;
}

.heart-hands-img {
    width: 8rem;
    float: right;
    margin-left: 30px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.skill-description {
    clear: right;
}

.btn {
    background: #FFC8BD;
    background-image: -webkit-linear-gradient(top, #FFC8BD, #FFEBD9);
    background-image: -moz-linear-gradient(top, #FFC8BD, #FFEBD9);
    background-image: -ms-linear-gradient(top, #FFC8BD, #FFEBD9);
    background-image: -o-linear-gradient(top, #FFC8BD, #FFEBD9);
    background-image: linear-gradient(to bottom, #FFC8BD, #FFEBD9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #235952;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #FCD1D1;
    background-image: -webkit-linear-gradient(top, #FCD1D1, #ECE2E1);
    background-image: -moz-linear-gradient(top, #FCD1D1, #ECE2E1);
    background-image: -ms-linear-gradient(top, #FCD1D1, #ECE2E1);
    background-image: -o-linear-gradient(top, #FCD1D1, #ECE2E1);
    background-image: linear-gradient(to bottom, #FCD1D1, #ECE2E1);
    text-decoration: none;
      }

.bottom-container {
    background-color: #FFC8BD;
    padding: 50px 0 20px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}
